<html>
	<head>
		<title>Important Objects</title>
		<style>
			html { overflow-y: scroll;}
			body { margin: 0; text-align: center; background-color: #222222; overflow-y: scroll;}
			.panel{
				position: absolute;
				left: var(--left);
				top: var(--top);
				background: #123499;
				border-radius: 25px;
				padding: 20px;
				width: var(--width);
				height:100px;
				text-align: left;
				font-family:Verdana;
				overflow-y: scroll;
			}
			.child {
			    all: inherit;
			}
		</style>
	</head>
	<body>
		<span class="panel" style="--left: 5%; --top: 5%; --width: 205px; color: #99ccff;"><a href="https://en.wikipedia.org/wiki/Crab_Pulsar" style="color: #AA6666;" target="_blank" rel="noopener noreferrer">Crab Pulsar</a>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;RA: 05<sup>h</sup> 34<sup>m</sup> 31.97<sup>s</sup>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;DEC: +22&#176; 00' 52.1"
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;Apparent Mag: 16.5
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;Distance: ~2000pc

		</span>

		<span class="panel" style="--left: 5%; --top: 30%; --width: 205px; color: #99ccff;"><a href="https://en.wikipedia.org/wiki/PSR_B0329%2B54" style="color: #AA6666;" target="_blank" rel="noopener noreferrer">J0332+5434</a>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;RA: 03<sup>h</sup> 32<sup>m</sup> 59.368<sup>s</sup>
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;DEC: +54&#176; 34′ 43.57″
			<br>
			&nbsp;&nbsp;&nbsp;&nbsp;Distance: ~1060pc

		</span>
	</body>
</html>