<html>
    <head>

        <title>Radio SkyGUIde</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <style>
            body { margin: 0; text-align: center; background-color: #000000}
            canvas { display: block; }
            gui {position: fixed; left:50%; top:0px; transform: translate(-50%, -0%);}
            .sidtime {position: fixed; left:5%; top:15%; font-family:Verdana; text-align: center;}
            .leftdetails {position: fixed; left:5%; top:5%; font-family:Verdana; text-align: center; transform: translate(-5%,0%); overflow-y: scroll; height: 95% }
            .rightdetails {position: fixed; left:80%; top:5%; font-family:Verdana; text-align: center; transform: translate(-5%,0%)}
            .button {
              background-color: var(--bcolor);
              border: none;
              color: white;
              padding: 15px 24px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: var(--fsize);
              margin: 4px 2px;
              cursor: pointer;
            }
        </style>
        <script language="javascript" type="text/javascript" src="/static/astro.js"></script>
        <script language="javascript" type="text/javascript" src="/static/astro.ephem.js"></script>
        <script src="https://threejs.org/build/three.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/satellite.js/4.0.0/satellite.min.js"></script>
        <script src="/static/examples/js/controls/OrbitControls.js"></script>
    </head>
    <body onload="fullReload();">
        <div id="leftdetails" class="leftdetails">
            <input type="button" class="button" style="--bcolor: #123456; --fsize: 15px;" value="Approximate LST at the {{ abbr_here }}"><br>
            <span id="sidtime">
            </span>
            <br><br><br>

            <span id="antennae">
            <input type="button" class="button" style="--bcolor: #3f1166; --fsize: 15px;" value="Available Antennae (Simulated)">
            <br>
            <input type="button" class="button" style="--bcolor: #3f1111; --fsize: 15px; padding: 10px 20px;" value="1a" onclick="javascript:changeAntenna('1a');">
            <input type="button" class="button" style="--bcolor: #3f115a; --fsize: 15px; padding: 10px 20px;" value="1f" onclick="javascript:changeAntenna('1f');">
            <input type="button" class="button" style="--bcolor: #3f1199; --fsize: 15px; padding: 10px 20px;" value="1c" onclick="javascript:changeAntenna('1c');">
            <input type="button" class="button" style="--bcolor: #3f11bb; --fsize: 15px; padding: 10px 20px;; padding: 10px 20px;" value="2a" onclick="javascript:changeAntenna('2a');">
            <br>
            <input type="button" class="button" style="--bcolor: #3f1111; --fsize: 15px; padding: 10px 20px;" value="2b" onclick="javascript:changeAntenna('2b');">
            <input type="button" class="button" style="--bcolor: #3f1177; --fsize: 15px; padding: 10px 20px;" value="4g" onclick="javascript:changeAntenna('4g');">
            <input type="button" class="button" style="--bcolor: #3f11bb; --fsize: 15px; padding: 10px 20px;" value="5c" onclick="javascript:changeAntenna('5c');">
            
            <input id="nonebutton" type="button" class="button" style="--bcolor: #3f11bb; --fsize: 15px; padding: 10px 20px;" value="None" onclick="javascript:changeAntenna('none');">
            </span>

            <br>
            <div>

                <br>
                <input type="button" class="button" style="--bcolor: #749fd8; --fsize: 15px;" value="+5m" onclick="offsetRA(1.25);">
                <input type="button" class="button" style="--bcolor: #cb8080; --fsize: 15px;" value="-5m" onclick="offsetRA(-1.25);">
                

                <br>
                <input type="button" class="button" style="--bcolor: #356fbb; --fsize: 15px;" value="+1h" onclick="offsetRA(15);">
                <input type="button" class="button" style="--bcolor: #b54a4a; --fsize: 15px;" value="-1h" onclick="offsetRA(-15);">


                <br>
                <input type="text" class="button" id="delaybox" style="--bcolor: #553555; --fsize: 15px;" placeholder="Enter Custom Time" onkeypress="javascript:customRaOffset(event);">

                <br>
                <input type="button" class="button" style="--bcolor: #553555; --fsize: 15px;" value="Reset to Current Time" onclick="offsetRA(0, true);">
                <br>
                <div id="totaloffset">
                    <input type="button" class="button" style="--bcolor: #444444; --fsize: 15px;" value="Total Time Offset (min): 0">
                </div>
            </div>
            <br>
            <form action='/'>
                <input type="Submit" class="button" style="--bcolor: #123456; --fsize: 15px;" value="Restart">
            </form>
            <form action='/main'>
                <input type="hidden" name="alt" value="90">
                <input type="hidden" name="az" value="0">
                <input type="hidden" name="fov" value="90">
                <input type="hidden" name="antenna" value="none">
                <input type="hidden" name="loc" value="{{ loc_here }}">
                <input type="hidden" name="longitude" value="{{ longitude_here }}">
                <input type="hidden" name="latitude" value="{{ declination_here }}">
                <input type="hidden" name="controls" id="controls" value="tobefilled">
                <input type="Submit" class="button" style="--bcolor: #123456; --fsize: 15px;" value="Toggle Interactive Mode">
            </form>
        </div>
        <div id='rightdetails' class='rightdetails'>
            <input type="button" class="button" style="--bcolor: #123456; --fsize: 15px;" value="Radio Sky Above the {{ abbr_here }}">
            <br><br>
            <input type="button" class="button" style="--bcolor: #123456; --fsize: 15px;" value="-Select Objects to Draw-"><br><br>
            <form>

                <input type="checkbox" name="drawatnf" value="true" id="drawatnf" onclick="dealWithCheckboxes();">
                <label for="drawatnf" style="color: #FF0000">ATNF Catalog</label><br><br>

                <input type="checkbox" name="drawfrb" value="true" id="drawfrb" onclick="dealWithCheckboxes();">
                <label for='drawfrb' style="color: #00FF00">FRB Catalog</label><br><br>

                <input type="checkbox" name="drawmessier" value="true" id="drawmessier" onclick="dealWithCheckboxes();">
                <label for='drawmessier' style="color: #00AAFF">Messier Catalog</label><br><br>

                <input type="checkbox" name="drawsatellites" value="true" id="drawsatellites" onclick="dealWithCheckboxes();">
                <label for='drawsatellites' style="color: #FFFFFF">Starlink Satellites</label><br><br>

                <input type="checkbox" name="drawimportant" value="true" id="drawimportant" onclick="dealWithCheckboxes();" checked>
                <label for='drawsatellites' style="color: #00FFF8">Important Objects</label><br><br>
            </form>
            <br><br>
            <form>
                <input type="checkbox" name="equatorialcheckbox" value="true" id="equatorialcheckbox" onclick="gridCheckboxes();">
                <label for="equatorialcheckbox" style="color: #9922FF">Equatorial Grid</label>
                <br><br>
                <input type="checkbox" name="altazcheckbox" value="true" id="altazcheckbox" onclick="gridCheckboxes();" checked>
                <label for="altazcheckbox" style="color: #9922FF">Alt-Az Grid</label>
            </form>
            <br><br>
            <div id="modifyaltaz">
                <input id="alt_box" class="button" style="--bcolor: #123456; --fsize: 15px;" placeholder="Altitude (&#176)" onkeypress="javascript:dealWithAltAzInput(event);">
                <br>

                <input id="az_box" class="button" style="--bcolor: #123456; --fsize: 15px;" placeholder="Azimuth: North = 0&#176" onkeypress="javascript:dealWithAltAzInput(event);">
                <br>

                <input id="fov_box" class="button" style="--bcolor: #123456; --fsize: 15px;" placeholder="FOV (&#176)" onkeypress="javascript:dealWithAltAzInput(event);">
                <br>
            </div>
            <br>

        </div>
        <gui id='gui'>
        <script>
            astrojs.ready(function(e){

            });

            //deal with the controls on/off situation
            c = document.getElementById("controls");
            if (GetURLParameter("controls") == "true"){
                c.value = "false"
            }
            else{
                c.value = "true"
            }

            if (GetURLParameter("loc") != "Allen+Telescope+Array"){
                document.getElementById("antennae").innerHTML = ''
            }

            function GetURLParameter(sParam){

                var sPageURL = window.location.search.substring(1);
                var sURLVariables = sPageURL.split('&');

                for (var i = 0; i < sURLVariables.length; i++){

                    var sParameterName = sURLVariables[i].split('=');
                    if (sParameterName[0] == sParam) {
                        return sParameterName[1];
                    }
                }
            }

            function dealWithAltAzInput(event){
                if (event.keyCode == 13 || event.which == 13){
                    alt_box = document.getElementById("alt_box");
                    az_box = document.getElementById("az_box");
                    fov_box = document.getElementById("fov_box");
                    if (alt_box.value == ''){
                        alt_box.value = 90
                    }
                    if (az_box.value ==''){
                        az_box.value = 0
                    }
                    if (fov_box.value ==''){
                        fov_box.value = 90
                    }
                    pointing_alt = alt_box.value;
                    temp_az = parseFloat(az_box.value) * 1;
                    temp_az = 360 - temp_az;
                    pointing_az = temp_az + 90;
                    fov = fov_box.value;
                }
            }


            function customRaOffset(event){
                if (event.keyCode == 13 || event.which == 13){
                    delaybox = document.getElementById("delaybox");
                    offsetRA(delaybox.value/4);
                }
            }

            var loc = "{{ loc_here }}";
            var longitude = {{ longitude_here }};

            var atnfcheckbox = document.getElementById("drawatnf");
            var frbcheckbox = document.getElementById("drawfrb");
            var messiercheckbox = document.getElementById("drawmessier");
            var satellitecheckbox = document.getElementById("drawsatellites");
            var importantcheckbox = document.getElementById("drawimportant");
            var catboxlist = [atnfcheckbox, frbcheckbox, messiercheckbox];
            var catnames = ["ATNF Catalog", "FRB Catalog", "Messier Catalog"];
            var catshorthands = ["atnf", "frb", "messier"]
            var catcolors = [0xff0000, 0x00ff00, 0x00aaff];
            for (var i = 0; i < catboxlist.length; i++){
                window[catnames[i]+"_list"] = [];
            }

            function dealWithCheckboxes(){

                for (var iter = 0; iter < catboxlist.length; iter++){
                    box = catboxlist[iter];
                    if (box.checked){
                        if (window[catnames[iter]+"_list"].length > 0){
                            for (var j = 0; j < window[catnames[iter]+"_list"].length; j++){
                                window[catnames[iter]+"_list"][j].visible = true;
                            }
                        }
                        else{
                            drawObjects(window[catshorthands[iter]+"_thetas"], window[catshorthands[iter]+"_phis"], catcolors[iter], '', group=catnames[iter]);
                        }
                    }
                    else{
                        if (window[catnames[iter]+"_list"].length > 0){
                            for (var j = 0; j < window[catnames[iter]+"_list"].length; j++){
                                window[catnames[iter]+"_list"][j].visible = false;
                            }
                        } 
                    }
                }

                if (satellitecheckbox.checked){
                    updateSatellites();
                    clearInterval(satelliterefreshID);
                    satelliterefreshID = setInterval(updateSatellites, 1000);
                }
                else{
                    clearInterval(satelliterefreshID);
                    for (let i = scene.children.length - 1; i >= 0; i--){
                        if (scene.children[i].name == "Satellite")
                            scene.remove(scene.children[i]);
                    }              
                }

                if (importantcheckbox.checked){
                    obj = 0; 
                    for (let i = scene.children.length - 1; i >= 0; i--) {
                        if(scene.children[i].group == "Important Objects"){
                            scene.children[i].visible = true;
                            obj += 1;
                        }
                    }
                    if (obj == 0){
                        addObjectLabels();
                    }
                }
                else{
                    for (let i = scene.children.length - 1; i >= 0; i--){
                        if (scene.children[i].group == "Important Objects")
                            scene.children[i].visible = false;
                    }             
                }
            }

            function gridCheckboxes(){
                altazcheckbox = document.getElementById("altazcheckbox");
                equatorialcheckbox = document.getElementById("equatorialcheckbox");

                if (equatorialcheckbox.checked){
                    obj = 0;
                    for (let i = scene.children.length - 1; i >= 0; i--) {
                        if(scene.children[i].group == "equatorial"){
                            scene.children[i].visible = true;
                            obj += 1;
                        }
                    }
                    if (obj == 0){
                        addRALines();
                        writeRALabels();
                        addDecLines();
                        writeDecLabels();
                        //equatorialGrid();
                    }
                }
                else{
                    for (let i = scene.children.length - 1; i >= 0; i--) {
                        if(scene.children[i].group == "equatorial")
                            scene.children[i].visible = false;
                    }    
                }

                if (altazcheckbox.checked){
                    obj = 0;
                    for (let i = camera.children.length - 1; i >= 0; i--) {
                        if(camera.children[i].group == "altaz"){
                            camera.children[i].visible = true;
                            obj += 1;
                        }
                    }
                    if (obj == 0){
                        drawAltAz(0, 0, 0);
                    }
                }
                else{
                    for (let i = camera.children.length - 1; i >= 0; i--){
                        if (camera.children[i].group == "altaz")
                            camera.children[i].visible = false;
                    }                        
                }
            }

            function calculateSiderealTime(raw){

                //get the time in UTC
                seconds_since_j2000 = Math.floor(Date.now()/1000) - 946684800;

                seconds = seconds_since_j2000 % 86400;

                hours = Math.floor(seconds/3600);
                minutes = Math.floor(seconds/60) - hours*60;
                seconds = seconds - minutes*60 - hours*3600;

                days_since_j2000 = seconds_since_j2000 / 86400;

                hours_passed = seconds_since_j2000 % 86400
                hours_passed = hours_passed / 3600

                siderealtime = 100.46;
                siderealtime += (0.985647 * days_since_j2000);
                siderealtime += longitude;

                siderealtime += 15*hours_passed;

                siderealtime = siderealtime % 360;
                siderealtime = siderealtime / 15;

                if (raw==true){
                
                    return siderealtime;
                }

                else{
                    hours = Math.floor(siderealtime);
                    siderealtime = siderealtime - hours;
                    minutes = Math.floor(siderealtime*60);
                    siderealtime = siderealtime - minutes/60;
                    seconds = Math.floor(siderealtime*3600);

                    if (String(hours).length < 2){
                        hours = '0' + hours;
                    }
                    if (String(minutes).length < 2){
                        minutes = '0' + minutes;
                    }
                    if (String(seconds).length < 2){
                        seconds = '0' + seconds;
                    }

                    return hours + ":" + minutes + ":" + seconds;
                }
            }


            function fullReload() {
                sid = document.getElementById("sidtime");
                sid.innerHTML = "<input type='button' class='button' style='--bcolor: #123456; --fsize: 15px;' value=" +calculateSiderealTime(false) + ">";
                setTimeout(fullReload, 500);
            }

            //var drawingSurface = document.getElementByID('gui');

            var r = 10;
            var scene;
            var camera;
            var renderer;
            pixelratio = 1.5;
            var rmod = 0;

            function startScene(){
                var width = window.innerWidth;
                var height = window.innerHeight;
                camera = new THREE.OrthographicCamera( -(r+rmod), (r+rmod), (r+rmod), -(r+rmod), 0, 1000 );
                
                renderer = new THREE.WebGLRenderer();
                renderer.setPixelRatio( pixelratio, pixelratio );
                renderer.setSize(height, height);
                document.getElementById('gui').appendChild(renderer.domElement);

                scene = new THREE.Scene({canvas:gui});
                scene.add(camera);
            }

            //draw RA lines

            function addDecLines(){
                angles = [0, Math.PI/6, -Math.PI/6, Math.PI/4, -Math.PI/4, Math.PI/3, -Math.PI/3, 5*Math.PI/12, -5*Math.PI/12];
                color = 0xffff00
                for (var angle = 0; angle < angles.length; angle++){
                    if (angles[angle] == 0){
                        color = 0xffa500;
                    }
                    else{
                        color = 0xffffff;
                    }
                    ring_rad = r * Math.cos(angles[angle]);
                    ring_width = 0.06
                    //var geometry = new THREE.TorusGeometry(ring_rad, ring_width/2, 16, 48);
                    var geometry = new THREE.CircleGeometry( ring_rad, 36 )
                    //var material = new THREE.MeshBasicMaterial( { color: color } );
                    //line = new THREE.Mesh( geometry, material );
                    var edges = new THREE.EdgesGeometry( geometry );
                    var line = new THREE.LineSegments( edges, new THREE.LineBasicMaterial( { color: color } ) );
                    line.position.set(0, r*Math.sin(angles[angle]), 0);
                    line.rotation.setFromVector3(new THREE.Vector3(Math.PI/2, 0, Math.PI/2));
                    line.group = "equatorial";
                    line.material.shading = THREE.SmoothShading;
                    scene.add(line);
                }
            }

            //draw DEC lines

            function addRALines(){
                color = 0xffffff;
                angles = [0, Math.PI/2];
                for (var angle = 0; angle < angles.length; angle++){
                    ring_rad = r;
                    ring_width = 0.06
                    //var geometry = new THREE.TorusGeometry(ring_rad, ring_width/2, 16, 48);
                    //var material = new THREE.MeshBasicMaterial( { color: color, side: THREE.DoubleSide } );

                    //line = new THREE.Mesh( geometry, material );
                    var geometry = new THREE.CircleGeometry( ring_rad, 36 )
                    var edges = new THREE.EdgesGeometry( geometry );
                    var line = new THREE.LineSegments( edges, new THREE.LineBasicMaterial( { color: color } ) );
                    
                    line.position.set(0, 0, 0);
                    line.rotation.setFromVector3(new THREE.Vector3(0, angles[angle], angles[angle]));
                    line.group = "equatorial";
                    line.material.shading = THREE.SmoothShading;
                    scene.add(line);
                }
            }

            function equatorialGrid(){
                var radius = r;
                var latSegments = 18;
                var longSegments = 16;

                var geometry = new THREE.SphereBufferGeometry( radius, longSegments, latSegments);
                var edges = new THREE.EdgesGeometry( geometry );
                var sphere = new THREE.LineSegments( edges, new THREE.LineBasicMaterial( { color: 0xffffff } ) );

                sphere.group = "equatorial"
                scene.add( sphere );

                var geometry = new THREE.CircleGeometry( 10, 36 );
                var edges = new THREE.EdgesGeometry( geometry );
                var equator = new THREE.LineSegments( edges, new THREE.LineBasicMaterial( { color: 0xffa500 } ) );
                equator.lookAt(0, 10, 0);
                equator.group = "equatorial";
                scene.add(equator)
            }

            function addText(text, pos, group, addtocamera=false, size=0.35, color=0x00fff8){
                var loader = new THREE.FontLoader();
                loader.load( '/static/examples/fonts/helvetiker_bold.typeface.json', function (font){
                    var textGeo = new THREE.TextGeometry( text, {
                        font: font,
                        size: size,
                        height: 0.35,
                        curveSegments: 24,
                        bevelEnabled: false

                    } );
                    var textMaterial = new THREE.MeshBasicMaterial( { color: color } );

                    var mesh = new THREE.Mesh( textGeo, textMaterial );
                    if (addtocamera==true){
                        camera.add(mesh);
                    }
                    else{
                        scene.add(mesh);
                    }
                    mesh.position.set(pos[0], pos[1], pos[2]);
                    mesh.name = "textlabel";
                    mesh.group = group;
                } );
            }


            var frb_thetas = {{ frb_ra_dat_here }};
            var frb_phis = {{ frb_dec_dat_here }}

            var atnf_thetas = {{ atnf_ra_dat_here }};
            var atnf_phis = {{ atnf_dec_dat_here }};

            var messier_thetas = {{ messier_ra_dat_here }};
            var messier_phis = {{ messier_dec_dat_here }};

            function createCircleTexture(color, size) {
              var matCanvas = document.createElement('canvas');
              matCanvas.width = matCanvas.height = size;
              var matContext = matCanvas.getContext('2d');
              // create texture object from canvas.
              var texture = new THREE.Texture(matCanvas);
              // Draw a circle
              var center = size / 2;
              matContext.beginPath();
              matContext.arc(center, center, size/2, 0, 2 * Math.PI, false);
              matContext.closePath();
              matContext.fillStyle = color;
              matContext.fill();
              // need to set needsUpdate
              texture.needsUpdate = true;
              // return a texture made from the canvas
              return texture;
            }

            function drawObjects(thetas, phis, color, name, group='', listofnames=false, satellitemode=false, size=2) {
                color = "#" + color.toString(16).padStart(6, '0');
                for (var i = 0; i < thetas.length; i++){
                    theta = thetas[i];
                    phi = phis[i];

                    x = r * Math.cos(theta) * Math.cos(phi);
                    y = r * Math.sin(phi);
                    z = r * Math.sin(theta) * Math.cos(phi);

                    var geometry = new THREE.Geometry();
                    geometry.vertices.push(new THREE.Vector3(x, y, z))
                    if (name == "Satellite" || group == "Satellite")
                        var material = new THREE.PointsMaterial( { size: size, sizeAttenuation: false, color: color } );
                    else
                        var material = new THREE.PointsMaterial({
                                      size: 3,
                                      map: createCircleTexture(color, 64),
                                      transparent: false,
                                      depthWrite: false
                                    });
                    var point = new THREE.Points( geometry, material );
                    if (listofnames==true){
                        point.name = name[i]
                    }
                    else{
                        point.name = name;
                    }

                    if (group != ''){
                        point.group = group;
                        if (group.includes("Catalog"))
                            window[group+"_list"].push(point)
                    }

                    if (satellitemode==true){
                        point.sat_tag = i;
                    }

                    scene.add(point);

                        //point.position.set(x,y,z);
                }
            }



            var dec = {{ declination_here }} * Math.PI / 180;
            var ra = 0;

            //write declination labels
            function writeDecLabels(){
                labels = [-5*Math.PI/12, -Math.PI/3, -Math.PI/4, -Math.PI/6, Math.PI/6, Math.PI/4, Math.PI/3, 5*Math.PI/12];
                for (var i = 0; i < labels.length; i++){
                    shift = 0.2;
                    mainaxis = r * Math.cos(labels[i]);
                    elev = shift + r * Math.sin(labels[i]);
                    deg_angle = Math.round(labels[i] * 180 / Math.PI)
                    addText(deg_angle+String.fromCharCode("0176"), [mainaxis, elev, shift], "equatorial");
                    addText(deg_angle+String.fromCharCode("0176"), [-shift, elev, mainaxis], "equatorial");
                    addText(deg_angle+String.fromCharCode("0176"), [-mainaxis, elev, -shift], "equatorial");
                    addText(deg_angle+String.fromCharCode("0176"), [shift, elev, -mainaxis], "equatorial");
                }
            }

            //write ra labels
            function writeRALabels(){
                labels = [0, Math.PI/2, Math.PI, 3*Math.PI/2];
                for (var i = 0; i < labels.length; i++){
                    angle = labels[i];
                    hour = angle * 180 / Math.PI;
                    hour = Math.round(hour/15);

                    addText(String(hour)+'h', [r*Math.cos(angle)+0.2, 0.2, r*Math.sin(angle)], "equatorial");
                }
            }

            function drawSun(){
                seconds_since_j2000 = Math.floor(Date.now()/1000) - 946684800;

                seconds = seconds_since_j2000 % 86400;

                hours = Math.floor(seconds/3600);
                minutes = Math.floor(seconds/60) - hours*60;
                seconds = seconds - minutes*60 - hours*3600;

                days_since_j2000 = seconds_since_j2000 / 86400;

                //other calculations 
                L = 280.460 + (0.9856474 * days_since_j2000)
                g = 357.528 + (0.9856003 * days_since_j2000)
                lambda = L + (1.915 * Math.sin(g * Math.PI/180)) + (0.02 * Math.sin(2 * g * Math.PI/180));

                obl_earth = 23.43663;

                ra_sun = Math.atan2(Math.cos(obl_earth*Math.PI/180) * Math.sin(lambda*Math.PI/180), Math.cos(lambda*Math.PI/180));
                dec_sun = Math.asin(Math.sin(obl_earth*Math.PI/180) * Math.sin(lambda*Math.PI/180));

                sun_x = r * Math.cos(ra_sun) * Math.cos(dec_sun);
                sun_y = r * Math.sin(dec_sun);
                sun_z = r * Math.sin(ra_sun) * Math.cos(dec_sun);

                sun_rad = 2 * Math.PI * r * 0.5/360;
                sun_halo_rad = sun_rad * 20;

                var geometry = new THREE.SphereGeometry(sun_rad, 32, 32);
                var halo_geometry = new THREE.SphereGeometry(sun_halo_rad, 32, 32)

                var material = new THREE.MeshBasicMaterial( {color: 0xffff00} );
                var halo_material = new THREE.MeshBasicMaterial( {color: 0xffff00, transparent: true, opacity: 0.3} );

                var sun = new THREE.Mesh( geometry, material );
                var sun_halo = new THREE.Mesh( halo_geometry, halo_material );

                sun.position.set(sun_x, sun_y, sun_z);
                sun_halo.position.set(sun_x, sun_y, sun_z);

                scene.add(sun);
                scene.add(sun_halo);
            }

            function drawMoon(){
                currentJD = new Date().getTime()/86400000 + 2440587.5;

                //moon_pos = astrojs.ephem.moonPos(currentJD);
                //moon_ra = moon_pos["lon"] * Math.PI/180;
                //moon_dec = moon_pos["lat"] * Math.PI/180;
                //moon_dec = (23.4 * Math.PI/180) - moon_dec;

                moon_ra = {{ moon_ra_here }};
                moon_dec = {{ moon_dec_here }};

                moon_rad = 2 * Math.PI * r * 0.5/360;
                moon_halo_rad = sun_rad * 10;

                var geometry = new THREE.SphereGeometry(moon_rad, 32, 32);
                var halo_geometry = new THREE.SphereGeometry(moon_halo_rad, 32, 32);

                var material = new THREE.MeshBasicMaterial( {color: 0xffffff} );
                var halo_material = new THREE.MeshBasicMaterial( {color: 0xffffff, transparent: true, opacity: 0.3} );

                var moon = new THREE.Mesh( geometry, material );
                var moon_halo = new THREE.Mesh( halo_geometry, halo_material );   

                moon_x = r * Math.cos(moon_ra) * Math.cos(moon_dec);
                moon_y = r * Math.sin(moon_dec);
                moon_z = r * Math.sin(moon_ra) * Math.cos(moon_dec);

                moon.position.set(moon_x, moon_y, moon_z);
                moon_halo.position.set(moon_x, moon_y, moon_z);

                scene.add(moon);
                scene.add(moon_halo);
            }

            var ra = 0;
            var timeoffset = 0;
            var raoffset = 0;
            var raoffset_raw = 0;
            var raoffsetdelta = Math.PI/180;

            function offsetRA(change, reset=false){
                satbox = satellitecheckbox = document.getElementById("drawsatellites");
                
                raoffset += change * Math.PI/180;
                raoffset_raw += change*4
                if (reset==true){
                    raoffset = 0;
                    raoffset_raw = 0;
                }
                timeoffset = raoffset_raw;
                if (satbox.checked){
                    //clearInterval(satelliterefreshID);
                    updateSatellites();
                }

                //get the decimal places right with some float to string and then back to float conversion
                //raoffset_raw = (1 * raoffset_raw).toFixed(3);
                //raoffset_raw = 1 * raoffset_raw;
                //raoffset_raw = raoffset_raw.toString();

                d = document.getElementById("totaloffset");
                d.innerHTML = "<input type='button' class='button' style='--bcolor: #444444; --fsize: 15px;' value='Total Time Offset (min): " + raoffset_raw.toFixed(2) + "'>";
            }

            var ra;
            var mask = '';
            var pointing_az;
            var pointing_alt;
            var antenna = GetURLParameter("antenna");
            //create dummy event to pass to function
            var e = new Object();
            e.keyCode = 13;
            e.which = 13;

            var alt_box = document.getElementById("alt_box");
            var az_box = document.getElementById("az_box");
            var fov_box = document.getElementById("fov_box");
            alt_box.value = GetURLParameter('alt');
            az_box.value = GetURLParameter('az');
            fov_box.value = GetURLParameter('fov');

            var pointing_alt = alt_box.value;
            var pointing_az = az_box.value;
            var fov = fov_box.value;

            dealWithAltAzInput(e);

            function updateAltAz(this_antenna){
                if (antenna == "none"){
                }
                else{
                    var alt_box = document.getElementById("alt_box");
                    var az_box = document.getElementById("az_box");
                    var fov_box = document.getElementById("fov_box");
                    altaz = getAntennaData(this_antenna)
                    pointing_alt = altaz[0]
                    pointing_az = altaz[1]
                    alt_box.value = pointing_alt;
                    az_box.value = Math.round(pointing_az);
                    fov_box.value = 30;
                }
            }
            var current_antenna_interval = setInterval(function () {
                updateAltAz(antenna);
                dealWithAltAzInput(e);
            }, 1000);

            function changeAntenna(new_antenna){
                antenna = new_antenna;
                updateAltAz(new_antenna);
                dealWithAltAzInput(e);
                clearInterval(current_antenna_interval);
                if (new_antenna == "none"){
                    var alt_box = document.getElementById("alt_box");
                    var az_box = document.getElementById("az_box");
                    var fov_box = document.getElementById("fov_box");  
                    alt_box.value = 90;
                    az_box.value = 0;
                    fov_box.value = 90;  
                    dealWithAltAzInput(e);
                    current_antenna_interval = ''
                }
                else{
                    current_antenna_interval = setInterval(function () {
                        updateAltAz(new_antenna);
                        dealWithAltAzInput(e);
                    }, 1000);
                }
            }

            function redoAltAz(x, y, z){
                angles = [0, Math.PI/6, Math.PI/4, Math.PI/3, 5*Math.PI/12];
                for (var i = scene.children.length - 1; i >= 0; i--) {
                    if(scene.children[i].group == "altaz"){
                        if (scene.children[i].name == "textlabel"){
                            //scene.remove(scene.children[i]);
                        }
                        else{
                            scene.children[i].lookAt(x, y, z);
                        }
                    }
                }
            }

            function drawAltAz(x, y, z){

                angles = [0, Math.PI/6, Math.PI/4, Math.PI/3, 5*Math.PI/12];

                var helper = new THREE.PolarGridHelper( r, 16, 6, 64 );
                camera.add( helper );
                helper.group = "altaz"
                helper.position.set(0, 0, -5)
                helper.rotation.set(0, Math.PI/2, Math.PI/2)

                //draw the degree labels
                for (i = 0; i < angles.length; i++){
                    a = Math.round(angles[i] * 180 / Math.PI);
                    temprad = r*Math.cos(angles[i]);
                    xyangle = Math.PI/4;
                    x = temprad * Math.sin(xyangle);
                    y = temprad * Math.cos(xyangle)
                    addText(a+String.fromCharCode("0176"), [x, y, -1], "altaz", addtocamera=true);
                }

                //label North
                addText("N", [0.1, 9.5, -1], "altaz", addtocamera=true);

                //label East
                addText("E", [9.5, 0.1, -1], "altaz", addtocamera=true);
            }

            function redoLabels(){
                for (var i = scene.children.length - 1; i >= 0; i--) {
                    if(scene.children[i].name == "textlabel"){
                        scene.children[i].quaternion.copy(camera.quaternion);
                    }
                }
            }

            var data = '';
            function drawSatellites(){
                data = new XMLHttpRequest();
                data.open("GET", "/static/newtle.txt?time=" + new Date().getTime());
                data.send();
                data.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        data = this.responseText;
                        data = data.split("\n0");
                        data = data.filter(element => element.includes("STARLINK"));
                    }
                };
            }

            function updateSatellites(){
                for (var j = scene.children.length - 1; j >= 0; j--) {
                    if(scene.children[j].name == "Satellite"){
                        scene.remove(scene.children[j]);
                    }
                }
 
                for (var i = 0; i < data.length; i+=1){
                    sat = data[i].split("\n")
                    name = sat[0];
                    line1 = sat[1];
                    line2 = sat[2];

                    var satrec = satellite.twoline2satrec(line1, line2);

                    var oldDateObj = new Date();
                    var newDateObj = new Date();
                    newDateObj.setTime(oldDateObj.getTime() + (timeoffset * 60 * 1000));

                    //var timeSinceTleEpochMinutes = Math.floor(new Date().getTime() / 60000);

                    //console.log(timeSinceTleEpochMinutes);

                    //var positionAndVelocity = satellite.sgp4(satrec, timeSinceTleEpochMinutes);
                    var positionAndVelocity = satellite.propagate(satrec, newDateObj);

                    var positionEci = positionAndVelocity.position,
                        velocityEci = positionAndVelocity.velocity;

                    var observerGd = {
                        longitude: satellite.degreesToRadians(longitude),
                        latitude: satellite.degreesToRadians(dec),
                        height: 0.370
                    };

                    var gmst = satellite.gstime(new Date());

                    var positionGd = satellite.eciToGeodetic(positionEci, gmst);

                    var satlongitude = positionGd.longitude,
                        satlatitude  = positionGd.latitude;

                    //if ( Math.abs(satlatitude - dec) < 0.1 && Math.abs(satlongitude - ra) < 0.1){
                    drawObjects([satlongitude], [satlatitude], 0xffffff, "Satellite");
                    //}
                    
                }

            }

            function processRaDec(right_asc, decl){
                right_asc = (right_asc[0] * 15) + (right_asc[1] / 4) + (right_asc[2] / 240);
                decl = (decl[0]) + (decl[1] / 60) + (decl[2] / 3600);

                right_asc = + right_asc * Math.PI / 180;
                decl = decl * Math.PI / 180;

                x = r * Math.cos(right_asc) * Math.cos(decl);
                y = r * Math.sin(decl);
                z = r * Math.sin(right_asc) * Math.cos(decl);

                return [x, y, z, right_asc, decl];
            }

            //add significant object labels
            function addObjectLabels(){
                //Crab Pulsar
                right_asc = [5, 34, 31.973];
                decl = [22, 0, 52.06];

                l = processRaDec(right_asc, decl);
                x = l[0];
                y = l[1];
                z = l[2];
                right_asc = l[3];
                decl = l[4];

                addText("Crab Pulsar", [x, y + 0.1, z], "Important Objects", false, 0.2);
                drawObjects([right_asc], [decl], 0x9400d3, '', group="Important Objects", size=1)

                //J0332+5434
                right_asc = [3, 32, 59.4096];
                decl = [54, 34, 43.329];

                l = processRaDec(right_asc, decl);
                x = l[0];
                y = l[1];
                z = l[2];
                right_asc = l[3];
                decl = l[4];

                addText("J0332+5434", [x, y + 0.1, z], "Important Objects", false, 0.2);
                drawObjects([right_asc], [decl], 0x9400d3, '', group="Important Objects", size=1)

                //SGR 1935+2154
                right_asc = [19, 35, 0];
                decl = [21, 54, 0];

                l = processRaDec(right_asc, decl);
                x = l[0];
                y = l[1];
                z = l[2];
                right_asc = l[3];
                decl = l[4];

                addText("SGR 1935+2154", [x, y + 0.1, z], "Important Objects", false, 0.2);
                drawObjects([right_asc], [decl], 0x9400d3, '', group="Important Objects", size=1)

            }

            function getAntennaData(this_antenna){
                if (this_antenna == "1a")
                    alt = 90
                if (this_antenna == "1f")
                    alt = 75
                if (this_antenna == "1c")
                    alt = 60
                if (this_antenna == "2a")
                    alt = 45
                if (this_antenna == "2b")
                    alt = 30
                if (this_antenna == "4g")
                    alt = 15
                if (this_antenna == "5c")
                    alt = 0
                az = new Date().getTime() / 1000
                az = az % 200
                az = az/200 * 360
                return ([alt, az])
            }

            var camx, camy, camz;
            function animate() {
                camera.remove(mask);

                viewrad = r * Math.sin(fov * Math.PI / 180);
                alt_rectangular = r * Math.cos(pointing_alt * Math.PI / 180);

                view_center_x = alt_rectangular * Math.cos(pointing_az * Math.PI / 180);
                view_center_y = alt_rectangular * Math.sin(pointing_az * Math.PI / 180);

                camera.top = view_center_y + viewrad;
                camera.bottom = view_center_y - viewrad;
                camera.left = view_center_x - viewrad;
                camera.right = view_center_x + viewrad;

                camera.updateProjectionMatrix();

                mask_geo = new THREE.TorusGeometry(viewrad+5, 5, 2, 100);
                mask_mat = new THREE.MeshBasicMaterial({color:0x000000});
                mask = new THREE.Mesh(mask_geo, mask_mat);
                camera.add(mask);
                mask.position.set(view_center_x, view_center_y, 0);

                ra = calculateSiderealTime(false);
                ra = ra.split(":");

                final_ra = ra[0] * 1;
                final_ra += ra[1] / 60;
                final_ra += ra[2] / 3600;
                final_ra = final_ra * 15;
                final_ra = final_ra * Math.PI / 180;
                ra = final_ra;// - Math.PI/2;
                ra += raoffset;
                //ra = 0;

                camx = r * Math.cos(ra) * Math.cos(dec);
                camy = r * Math.sin(dec);
                camz = r * Math.sin(ra) * Math.cos(dec);
                camera.lookAt(camx, camy, camz);
                //redoAltAz(camx, camy, camz);
                //camera.rotation.setFromVector3(new THREE.Vector3(camx, camy, camz));
                requestAnimationFrame(animate);
                if (GetURLParameter("controls") == "true")
                    controls.update();
                renderer.render(scene, camera);

            };

            startScene();
            drawAltAz(0, 0, 0);
            camera.position.set(0, 0.01, 0);

            if (GetURLParameter("controls") == "true"){
                var controls = new THREE.OrbitControls(camera, renderer.domElement);
                controls.target.set(0, 0, 0);
                controls.update();
                controls.rotateSpeed = -1;
            }
            
            animate();
            //setInterval(animate, 1000);
            setInterval(redoLabels, 10);

            var satelliterefreshID = '';
            drawSatellites();
            //redraw sun every half day... hopefully you'll refresh by then...
            setInterval(drawSun(), 43200000);
            drawMoon();
            addObjectLabels();

            for (var i = 0; i < catshorthands.length; i++){
                drawObjects(window[catshorthands[i]+"_thetas"], window[catshorthands[i]+"_phis"], catcolors[i], '', group=catnames[i]);
            }
            dealWithCheckboxes();

            document.getElementById("nonebutton").click();

        </script>
        </gui>
    </body>
</html>