<html>
	<head>
		<title>Radio SkyGUIde</title>
		<style>
			body {background-color: #123456; font-family: Verdana; font-size: 40px;}
			heading {position:fixed; left:2%; top:2%; color:#009ffe;}
			.button {
			  background-color: var(--bcolor);
			  border: none;
			  color: white;
			  border-radius: 20px;
			  padding: 15px 24px;
			  text-align: center;
			  text-decoration: none;
			  display: inline-block;
			  font-size: var(--fsize);
			  margin: 4px 2px;
			  cursor: pointer;
			}
		</style>
	</head>
	<body>
		<form action='/main'>
			
		</form>
	</body>
</html>